{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="inicio-wrapper">
    <h1>Bienvenido al Inicio</h1>
    <p>Has iniciado sesión correctamente.</p>
</div>
{% endblock %}
