<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/logo2.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">
            <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
            {% if page_css is defined %}
                <link rel="stylesheet" href="{{ asset('css/' ~ page_css ~ '.css') }}">
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'partials/navbar.html.twig' %}
        {% endblock %}
        
        {% block body %}{% endblock %}
    </body>
</html>
